{% load static js_routes_tags %}
<!DOCTYPE html>
<html  class="h-full bg-gray-200">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="{% static 'js/routes/resolver.js' %}"></script>

    {% js_routes routes_only=True %}
    
    <script src="{% static 'dist/app.js' %}" defer></script>
  </head>
  <body class="font-sans leading-none text-gray-700 antialiased">
    {% csrf_token %}
    {{ page|json_script:"page" }}
    <div id="app">
    </div>
  </body>
</html>